.Contacts{
		text-align: center;
}
.Contacts img{
		width: 40%;
		height: 400px;
		border: none;
}
.Contacts span{
		font-weight: bold;
		font-size: 18px;
		color: #000;
}
.Contacts p{
		font-size: 25px;
		color: #cc0000;
		font-weight: bold;
}