.navbar{
		background: lightgrey;
		margin-bottom: 20px;
		padding: 15px;
		font-size: 18px;
		text-transform: uppercase;
		font-style: italic;
		font-weight: bold;
}
.main-nav a{
		padding: 0 10px;
		text-decoration: none;
		color: #888888;
}