.img{
		width: 100%;
		text-align: center;
}
img{
		width: 70%;
		height: 600px;
		border: 5px solid black;
}
.intro-text{
		font-size: 30px;
		font-weight: bold;
		color: #B94A48;
}
.about{
		width: 100%;
		background-color: white;
		padding: 30px;
		margin-top: 20px;
}